<!-- <!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title> 
        
    </title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css"
    />
  </head>
  <body class="container p-3">
    <h1>
        
    </h1>
    <form method="post" action="/hello">
      <div class="form-group">
        <label for="f1">Message</label>
        <input type="text" id="f1" name="msg" class="form-control" />
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" />
      </div>
    </form>
    <hr />
    <ol>
     
      <li>

      </li>
      
    </ol>
  </body>
</html> -->

<%-include('header') %>

<p>※これが、このページのコンテンツです。</p>

<%-include('footer') %>
